/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');
@font-face {
  font-family: 'Georgia';
  src: url('webfonts/Georgia-BoldItalic.woff2') format('woff2'),
      url('webfonts/Georgia-BoldItalic.woff') format('woff'),
      url('webfonts/Georgia-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('webfonts/Georgia-Bold.woff2') format('woff2'),
      url('webfonts/Georgia-Bold.woff') format('woff'),
      url('webfonts/Georgia-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('webfonts/Georgia-Italic.woff2') format('woff2'),
      url('webfonts/Georgia-Italic.woff') format('woff'),
      url('webfonts/Georgia-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('webfonts/Georgia.woff2') format('woff2'),
      url('webfonts/Georgia.woff') format('woff'),
      url('webfonts/Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --theme__color1: #7CB342;
  --theme__color2: #027AC6;
  --theme__color3: #DA3A04;
  --background: #FAFAFA;
  --inter: 'Inter', sans-serif;
  --poppins: 'Poppins', sans-serif;
  --georgia: 'Georgia';
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.2;
  background-color: var(--background);
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--inter);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
.container {
  padding: 0 15px;
}
@media (max-width: 1399px) and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1799px) and (min-width: 1400px) {
  .container {
    max-width: 1314px;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1794px;
  }
}



/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.heder-in {

}

.header-top {
  padding: 14px 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
}
.header-top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heder-logo {

}
.heder-logo img {
  width: 97px;
}
.ht-right {
  display: flex;
  align-items: center;
}
.main-menu {

}
.main-menu > ul {
  display: flex;
  align-items: center;
}
.main-menu > ul > li {
  margin-right: 50px;
}
.main-menu > ul > li:last-child {
  margin-right: 0;
}
.main-menu > ul > li > a {
  font-size: 16px;
  font-weight: 400;
  color: #4E5665;
  font-family: var(--poppins);
  transition: 0.3s;
}
.main-menu > ul > li > a:hover {
  color: var(--theme__color2);
}
.ht-l-btn {
  margin: 0 40px;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--poppins);
  border: 1px solid #F29F22;
  border-radius: 50px;
  color: #F29F22;
  padding: 7px 23px 9px;
  display: inline-flex;
  transition: 0.3s;
}
.ht-l-btn:hover {
  color: var(--theme__color1);
  border-color: var(--theme__color1);
}
.ht-user {

}
.ht-user .image {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}
.ht-user .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.ht-user .image .ind-ellipse {
  height: 10px;
  width: 10px;
  bottom: 0;
  right: 0;
  background: #059669;
  border: 1.5px solid #FFFFFF;
  position: absolute;
  border-radius: 50%;
}



.header-bottom {
  padding: 9px 0 6px;
  background: #f5f5f5;
  border-bottom: 1px solid #E0E0E0;
}
.header-bottom-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bottom-inner .searchbox-x {
  width: 572px;
}
.searchbox-x {
  position: relative;
}
.searchbox-x .input {
  padding: 10px 20px 10px 32px;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 400;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  width: 100%;
}
.searchbox-x .input::placeholder {
  color: #7E7E7E;
}
.searchbox-x .input:focus:placeholder {
  color: transparent !important;
}
.searchbox-x .s-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0%,-50%);
  color: #BEDBEC;
  font-size: 14px;
}
.hb-right {
  display: flex;
  align-items: center;
}
.hb-menu {

}
.hb-menu > ul {
  display: flex;
  align-items: center;
}
.hb-menu > ul > li {
  border-right: 1px solid rgba(84, 84, 84, 0.3);
}
.hb-menu > ul > li:last-child {
  border-right: none;
}
.hb-menu > ul > li > a {
  font-size: 12px;
  padding: 0 13px;
  font-weight: 400;
  color: #545454;
  font-family: var(--poppins);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hb-menu > ul > li > a:hover  {

}
.hb-menu > ul > li > a .icon {
  width: 21px;
  margin: 0 8px 0 0;
  position: relative;
}
.hb-menu > ul > li > a .icon img {

}
.hb-menu > ul > li > a .icon .ind-ring {
	border: 2px solid #F36189;
	height: 12px;
	width: 12px;
	display: block;
	border-radius: 50%;
	position: absolute;
	top: -7px;
	right: -7px;
}
.hb-menu > ul > li > a .txt {

}
.hb-r-btn {
  margin: 0 0 0 40px;
}

/* header-end */





/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 25px;
  top: 25px;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #d5dce2;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.offcanvas-menu ul li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 10px;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color2);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */



/* ---blog-v-section--- */
.blog-v-section {

}
.blog-v-section-inner {
  padding-right: 358px;
}

.blog-v-title-rw {
  padding: 39px 50px 39px 0;
}
.blog-v-title-rw .breadcrumb {
  margin: 0 0 25px;
}
.breadcrumb {

}
.breadcrumb ul {
  display: flex;
}
.breadcrumb ul li {
  display: flex;
  align-items: center;
}
.breadcrumb ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #545454;
  font-weight: 400;
}
.breadcrumb ul li a.active {
  color: #333333;
  font-weight: 500;
}
.breadcrumb ul li .in-arr {
  margin: 0 14px;
  font-size: 10px;
  color: #545454;
}
.blog-v-title-rw .h1 {
  font-size: 34px;
  margin: 0 0 15px;
  line-height: 1.3;
  font-weight: 400;
  font-family: var(--georgia);
}
.blog-v-title-rw .bt-anc {
  font-size: 15px;
  font-weight: 500;
  color: #DB6968;
  text-decoration: underline !important;
  font-family: var(--poppins);
}
.ft-nav {
  margin: 30px 0 0;
  position: relative;
  z-index: 1;
  display: flex;
}
.ft-nav::after {
  content: '';
  height: 1px;
  width: 5000px;
  left: -2000px;
  bottom: 1px;
  position: absolute;
  display: block;
  background: #E0E0E0;
  z-index: -1;
}
.ft-nav ul {
  display: flex;
}
.ft-nav ul li {
  --vp: 22px;
  display: flex;
  margin-right: var(--vp);
}
.ft-nav ul li a {
  padding: 16px 0;
  font-size: 12px;
  font-weight: 400;
  color: #454545;
  font-family: var(--poppins);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ft-nav ul li a:not(.active) {
  padding-right: 0;
}
.ft-nav ul li a.active {
  padding-left: var(--vp);
  padding-right: var(--vp);
  border: 1px solid #E0E0E0;
  background: var(--background);
  border-bottom-color: var(--background);
  font-weight: 800;
}
.ft-nav ul li a .nb-bx {
  padding: 0 8px 1px;
  margin: 0 0 0 12px;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--inter);
  color: #6F6F6F;
  border: 1px solid #6F6F6F;
  border-radius: 3px;
  display: inline-block;
}


.blog-v-content-tab {

}
.blog-v-content-tab-pane {

}

.vbc-tp-main-row {
  display: flex;
  justify-content: space-between;
}
.vbc-tp-mr-left {
  width: 64.2%;
}
.vbc-tp-mr-right {
  width: 30.3%;
}

.s-blg-t-nav {
  margin: 0 0 18px;
  display: flex;
}
.s-blg-t-nav .searchbox-x {
  flex-grow: 1;
  margin: 0 25px 0 0;
}
.s-blg-t-menu {

}
.s-blg-t-menu ul {
  display: flex;
}
.s-blg-t-menu ul li {
  margin-right: 9px;
}
.s-blg-t-menu ul li:last-child {
  margin-right: 0;
}
.s-blg-t-menu ul li a {
  font-size: 14px;
  height: 37px;
  padding: 1px;
  color: #7E7E7E;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  display: flex;
}
.s-blg-t-menu ul li a .icon {
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-blg-t-menu ul li a .text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-left: 1px solid #D3D3D3;
}

.bv-pg {
  padding: 90px 0;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 3px;
}
.bv-pg .tb-title {
  margin: 0 50px 25px;
  border-top: 2px solid #3F4160;;
  border-bottom: 2px solid #3F4160;;
}
.bv-pg .tb-title h3 {
  padding: 10px 10px;
  font-size: 18px;
  font-family: var(--poppins);
  color: #333333;
}
.bv-pg-texts {
  padding: 0 96px;
  text-align: justify;
}
.bv-pg-texts p {
  font-size: 14px;
  line-height: 2.2;
}


.vbc-tp-mr-right {

}
.s-blg-sd-tp {
  margin: 0 0 50px;
}
.s-blg-sd-tp .vw-btn {
  font-size: 16px;
  padding: 10px 23px 10px;
  margin: 0 0 15px;
  width: 100%;
  border-radius: 50px;
  font-weight: 500;
  font-family: var(--inter);
  background: #DEEBF3;
  border: 1px solid transparent;
  border-color: var(--theme__color2);
  color: #1F1F1F;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.s-blg-sd-tp p {
  font-size: 12px;
  font-family: var(--poppins);
}

.s-blg-sd-filters {
  margin: 0 0 60px;
}
.s-blg-sd-filters h4 {
  font-size: 16px;
  margin: 0 0 24px;
  font-weight: 500; 
  color: #333333;
}
.s-blg-sd-filters-i-wrap {
  --inner-space: 20px;
  --bt-space: var(--inner-space);
  --item: 4;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--inner-space) * -0.5) calc(var(--bt-space) * -1 );
  justify-content: flex-start;
}
.s-blg-sd-filters-i {
  font-size: 14px;
  font-weight: 500;
  color: #027AC6;
  display: flex;
  align-items: center;
  margin: 0  calc(var(--inner-space) * 0.5) var(--bt-space);
}
.s-blg-sd-filters-i .bullet {
  width: 13px;
  margin: 0 7px 0 0;
}
.s-blg-sd-filters-i .bullet img {

}
.s-blg-sd-filters-i .txt {

}


.s-blg-sd-tags {

}
.s-blg-sd-tags h4 {
  font-size: 16px;
  margin: 0 0 28px;
  font-weight: 500;
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s-blg-sd-tags h4 .ind {
  font-size: 12px;
  color: #AFAFAF;
}
.s-blg-sd-tags-i-wrap {
	height: 265px;
	overflow: auto;
}
.s-blg-sd-tags-i {
  font-size: 14px;
  margin: 0 0 23px;
  font-weight: 400;
  font-family: var(--poppins);
  width: 100%;
  display: flex;
  align-items: center;
}
.s-blg-sd-tags-i .checkbox {
  margin: 0 9px 0 0;
}
.s-blg-sd-tags-i .r-count {
  font-size: 12px;
  font-weight: 400;
  color: #6F6F6F;
  margin-left: auto;
}



.full-bnr {
  margin: 43px 0;
  padding: 45px 45px;
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.full-bnr::after {
  content: '';
  height: 100%;
  width: 5000px;
  position: absolute;
  top: 0;
  left: -2000px;
  background: var(--theme__color2);
  z-index: -1;
}
.full-bnr .text-side {
  width: 500px;
  margin-right: 144px;
}
.full-bnr .text-side h3 {
  font-size: 20px;
  line-height: 1.8;
  font-weight: 500;
  font-family: var(--poppins);
}
.full-bnr .button-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---blog-v-section---end */



/* ---templates-section--- */
.templates-section {
  padding: 50px 0;
  background: #ECEFFA;
}
.templates-section-inner {
	--left-width: 370px;
  padding: 0 20px;
	display: flex;
  align-items: center;
}

.templates-title-side {
  width: var(--left-width);
  flex-shrink: 0;
  margin: 0 30px 0 0;
}
.templates-title-side h2 {
  font-size: 24px;
  margin: 0 0 20px;
  font-weight: 700;
  color: #333333;
  font-family: var(--poppins);
}
.templates-title-side .bottom-button {

}

.templates-slider-side {
  width: calc((100% - var(--left-width)) + ((100vw - 100%) / 2));
  flex-shrink: 0;
}
.templates-slider {

}
.template-slide {
  width: 264px;
}
.template-slide .image {
  height: 211px;
  border: 1px solid #E6E6E6;
  width: 100%;
}
.template-slide .image img {
  width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.template-slide .contents {
  padding: 11px;
  background: #FAFAFA;
  box-shadow: 0px 35px 25px rgba(191, 191, 191, 0.16);
}
.template-slide .texts-f {
  padding: 12px 5px 8px;
  min-height: 132px;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  flex-direction: column;
}
.template-slide .texts-f h3 {
  font-size: 14px;
  color: #545454;
  font-family: var(--poppins);
}
.template-slide .texts-f p {
  font-size: 12px;
  font-weight: 600;
  color: #999999;
  font-family: var(--poppins);
}
.template-slide .texts-f .bottom-item {
  margin-top: auto;
}
.template-slide .ts-metas {
  padding: 15px 5px 8px;
  display: flex;
}
.template-slide .ts-metas .itm {
  font-size: 12px;
  margin-right: 12px;
  font-weight: 700;
  color: #545454;
  font-family: var(--poppins);
  display: flex;
  align-items: center;
  justify-content: center;
}
.template-slide .ts-metas .itm:last-child {
  margin-right: 0;
}
.template-slide .ts-metas .itm .icon {
  font-size: 16px;
  margin: 0 7px 0 0;
  color: #959595;
}
/* ---templates-section---end */